.form {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 10vh;
  }
  
  .input {
    border: none;
    border-radius: 0;
    width: 100%;
    font-size: 1em;
    padding-left: 20px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }

  .fa-chevron-circle-right:before {
    content: "\f138";
    font-size: 8vh;
}
  
  .sendButton {
    color: #9c74b4;
    text-decoration: none;
    background: #320050;
    padding: 6.1px;
    display: inline-block;
    border: none;
    width: 10%;
    cursor: pointer;
  }