.form {
    display: flex;
    border-top: 2px solid #edceff;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }

  .fa-chevron-circle-right:before {
    content: "\f138";
    font-size: 8vh;
}
  
  .sendButton {
    color: #9c74b4;
    text-decoration: none;
    background: #320050;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    cursor: pointer;
  }